.firstdiv {
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
  width: 100%;
  align-content: center;
  /* margin: 0 auto; */
}
.taskduty {
  /* height: 80px; */
  margin-top: 10px;
}
.secondiv {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  flex-wrap: nowrap;
  width: 20%;
  align-items: center;
}
.Naseer {
  width: 40px;
  border-radius: 20px;
  clip-path: circle();
}
.Ellipse {
  position: absolute;
  /* right: 20px; */
  width: 8px;
  top: 7px;
  left: 33px;
  /* position: relative; */
  /* bottom: 10000px; */
  /* right: 0; */
}
.link1 {
  text-align: center;
  text-decoration: none;
  /* margin: 0 auto; */
}
.hamburger {
  display: none;
}
.dropdown {
  width: 100%;
  display: none;
  /* transform: rotateY(360deg); */
  /* transition: 5ms; */
  /* transition: ; */
}
.post {
  position: relative;
}
.text1link {
  text-decoration: none;
  color: #292929;
}
.text2link {
  text-decoration: none;
  color: #292929;
}

@media (max-width: 1200px) {
  .secondiv {
    width: 25%;
  }
}
@media (max-width: 860px) {
  .secondiv {
    width: 30%;
  }
}
@media (max-width: 784px) {
  .secondiv {
    width: 33%;
  }
}
@media (max-width: 650px) {
  .secondiv {
    display: none;
  }
  .hamburger div {
    /* display: block; */
    width: 40px;
    height: 6px;
    background-color: purple;
    margin-top: 2px;
    align-items: center;
  }
  .hamburger {
    align-items: center;
    margin-top: 20px;
    display: block;
  }
  .Ellipse {
    display: none;
  }
  .dropdown {
    background-color: green;
    width: 50%;
    /* height: 200px; */
    position: absolute;
    top: 5%;
  }
}
