.flex1 {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 4%;
}
.plus {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  width: 200px;
  align-items: center;
}
.Top {
  text-decoration: underline;
  color: #974fd0;
}
.imgplus {
  width: 20px;
}
.headertask1 {
  color: #974fd0;
  align-items: center;
}
.flextest {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}
.allblogs {
  text-align: left;
  /* border: 1px solid gray; */
  padding: 10px;
  /* margin-bottom: 10px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.text {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  /* padding: 50px;
  margin-bottom: 10px; */
  /* padding: 30px; */
  /* margin-top: 60%; */
}
.tag {
  text-align: left;
  /* margin-top: 10%; */
  margin-bottom: 40px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border: 1px solid gray;
  padding: 10px;
}
.bordertest {
  /* border: 1px solid gray; */
}
.texttitle {
  text-transform: uppercase;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  /* background-color: red; */
}
.editdiv {
  background-color: #974fd0;
  display: flex;
  justify-content: space-around;
  /* width: 100px; */
  align-items: center;
  height: 40px;
  width: 100px;
  left: 778px;
  top: 20px;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
}
.deletediv {
  /* background-color: #974fd0; */
  display: flex;
  justify-content: space-around;
  /* width: 100px; */
  height: 40px;
  width: 100px;
  left: 936px;
  top: 20px;
  border-radius: 8px;
  padding: 10px 25px 10px 25px;
  border: 1px solid #974fd0;
  align-items: center;
}
.deletetest {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}
.delete {
  width: 20px;
  align-items: center;
  /* margin-top: 10px; */
}
.deletebtn {
  width: 150px;
  /* background-color: #974FD0; */
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  align-self: center;
}
.editbtn {
  background-color: #974fd0;

  width: 126px;

  border-radius: 8px;
}
.editlink {
  text-decoration: none;
}
.deletelink {
  text-decoration: none;
}
.deletetext {
  color: #974fd0;
}
.editext {
  color: white;
}
@media (max-width: 1300px) {
  .deletediv{
    width: 90px;
    height: 38px;
  }
  .editdiv{
    width: 90px;
    height: 38px;
  }
  .deletetest{
    width: 330px;
  }
}
@media (max-width: 1200px) {
  .deletediv{
    width: 80px;
    height: 35px;
  }
  .editdiv{
    width: 80px;
    height: 35px;
  }
  .deletetest{
    width: 300px;
  }
}
@media (max-width: 1100px) {
  .deletediv{
    width: 70px;
    height: 32px;
  }
  .editdiv{
    width: 80px;
    height: 32px;
  }
  .deletetest{
    width: 280px;
  }
}
@media (max-width: 1000px) {
  .deletediv{
    width: 75px;
    height: 30px;
  }
  .editdiv{
    width: 75px;
    height: 30px;
  }
  .deletetest{
    width: 270px;
  }
}
@media (max-width: 900px) {
  .deletediv{
    width: 75px;
    height: 27px;
  }
  .editdiv{
    width: 75px;
    height: 27px;
  }
  .deletetest{
    width: 280px;
  }
}
@media (max-width: 800px) {
  .deletediv{
    width: 75px;
    height: 25px;
  }
  .editdiv{
    width: 75px;
    height: 25px;
  }
  .deletetest{
    width: 270px;
  }
}
@media (max-width: 700px) {
  .deletediv{
    width: 70px;
    height: 25px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 70px;
    height: 25px;
    /* padding: 0; */
  }
  .deletetest{
    width: 270px;
  }
}
@media (max-width: 600px) {
  .deletetext{
    font-size: 16px;
  }
  .editext{
    font-size: 16px;
  }
  .deletediv{
    width: 65px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 65px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 250px;
  }
}
@media (max-width: 530px) {
  .deletetext{
    font-size: 14px;
  }
  .editext{
    font-size: 14px;
  }
  .deletediv{
    width: 60px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 60px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 230px;
  }
}
@media (max-width: 470px) {
  .deletetext{
    font-size: 14px;
  }
  .editext{
    font-size: 14px;
  }
  .deletediv{
    width: 40px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 40px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 190px;
  }
  .headertask1{
    font-size: 20px;
  }
  .plus{
    width: 160px;
  }
  .mytasktext{
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .deletetext{
    font-size: 12px;
  }
  .editext{
    font-size: 12px;
  }
  .deletediv{
    width: 30px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 30px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 180px;
  }
  .headertask1{
    font-size: 20px;
  }
  .plus{
    width: 160px;
  }
  .mytasktext{
    font-size: 25px;
  }
}


@media (max-width: 430px) {
  .deletetext{
    font-size: 12px;
  }
  .editext{
    font-size: 12px;
  }
  .deletediv{
    width: 20px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 20px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 150px;
  }
  .headertask1{
    font-size: 20px;
  }
  .plus{
    width: 160px;
  }
  .mytasktext{
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .deletetext{
    font-size: 10px;
  }
  .editext{
    font-size: 10px;
  }
  .deletediv{
    width: 20px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 20px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 150px;
  }
  .headertask1{
    font-size: 20px;
  }
  .plus{
    width: 160px;
  }
  .mytasktext{
    font-size: 24px;
  }
  .tagstext{
    font-size: 20px;
  }
}


@media (max-width: 365px) {
  .deletetext{
    font-size: 10px;
  }
  .editext{
    font-size: 10px;
  }
  .deletediv{
    width: 10px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 10px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 130px;
  }
  .headertask1{
    font-size: 15px;
  }
  .plus{
    width: 130px;
  }
  .mytasktext{
    font-size: 20px;
  }
  .tagstext{
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  .deletetext{
    font-size: 10px;
  }
  .editext{
    font-size: 10px;
  }
  .deletediv{
    width: 5px;
    height: 20px;
    /* padding: 0; */
    /* padding-left: 0;
    padding-right: 0; */
  }
  .editdiv{
    width: 5px;
    height: 20px;
    /* padding: 0; */
  }
  .deletetest{
    width: 120px;
  }
  .headertask1{
    font-size: 15px;
  }
  .plus{
    width: 130px;
  }
  .mytasktext{
    font-size: 20px;
  }
  .tagstext{
    font-size: 20px;
  }
}




