.textdiv {
  /* background-color: bisque; */
  width: 500px;
  /* margin-left: 100px; */
}
.parentdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  width: 80%;
  margin: 0 auto;
}
.ptag1 {
  font-family: Signika Negative;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.btn1{
    padding: 10px;
    background: #974FD0;
    border-radius: 8px;
    /* text-align: left; */
    /* align-content: flex-start; */
  /* align-content: left; */
  display: flex;
  justify-content: flex-start;
}
.header1{
    font-family: 'Signika Negative';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 62px;

color: #292929;
text-align: left;
}
.span1{
    color: #974FD0;

}

@media  (max-width: 1160px){
/* .ptag1{
  width: 450px;
  font-size: 22px;
}
.header1{
  font-size: 45px;
} */
.textdiv{
  /* width: 400px; */
}
}


@media (max-width: 1180px) {
  .textdiv{
    width: 400px;
  }
  .bro{
    width: 400px;
  }
}

@media (max-width: 1014px) {
  .textdiv{
    width: 350px;
  }
  .bro{
    width: 380px;
  }
  .parentdiv{
    padding: 50px;
  }
  .header1{
    font-size: 40px;
  }
  .ptag1{
    font-size: 21px;
  }
}

@media (max-width: 885px) {
  .textdiv{
    width: 300px;
  }
  .bro{
    width: 320px;
  }
  .parentdiv{
    padding: 50px;
  }
  .header1{
    font-size: 35px;
  }
  .ptag1{
    font-size: 19px;
    width: 350px;
  }
}

@media (max-width: 825px) {
  .textdiv{
    width: 270px;
  }
  .bro{
    width: 320px;
  }
  .parentdiv{
    padding: 50px;
  }
  .header1{
    font-size: 35px;
  }
  .ptag1{
    font-size: 19px;
    width: 310px;
  }
}
@media (max-width: 785px) {
  .textdiv{
    width: 270px;
  }
  .bro{
    width: 320px;
  }
  .parentdiv{
    padding: 50px;
  }
  .header1{
    font-size: 35px;
  }
  .ptag1{
    font-size: 16px;
    width: 280px;
  }
}
@media (max-width: 768px) {
  .textdiv{
    width: 400px;
    text-align: center;
    margin: 0% auto;
  }
  .bro{
    width: 400px;
    margin-top: 20px;
  }
  .parentdiv{
    padding: 50px;
    display: block;
  }
  .header1{
    font-size: 35px;
    width: 300px;
  }
  .ptag1{
    font-size: 24px;
    width: 350px;
  }
}
@media (max-width: 600px) {
  .textdiv{
    width: 300px;
  }
  .bro{
    width: 300px;
  }
}
@media (max-width: 500px) {
  .header1{
    font-size: 30px;
    line-height: 40px;
  }
  .ptag1{
    font-size: 21px;
    width: 300px;
  }
  .parentdiv{
    padding: 40px;
  }
}